.button {
  font: inherit;
  border: 1px solid #8878c3;
  background: #8878c3;
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 2px;
}

.button:hover,
.button:active {
  background: #5a4fcf;
  border-color: #5a4fcf;
}

.button:focus {
  outline: none;
}
